@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    background-color: black;
    margin: 0;
    padding: 0, 20px;
    box-sizing: border-box;
}
main{
    display: flex;

}
h1 {
    font-family: 'Pacifico', cursive;
}

p {
    color: orange;
    /* padding-left: 7%; */
}
.p {
    color: orange;
    font-size: 19px;
    font-style: 'Pacifico', cursive;
    /* padding-left: 7%; */
}
.about {
    border: 5px;
    border-style: dotted;
    border-color: orange;
    background-color: black;
    margin: 5%;
}
/* .aboutText{

} */
.sidenav {
    width: '25%';
    padding-top: '20px';
}
.addForm{
    /* width: 80%; */
    color: orange;
}
/* .card-title {
    border: 3px;
    border-style: dotted;
    border-color: orange;
    margin-left: 190px;
    margin-right: 190px;
    color: orange;
} */

.aboutTitle {
    border-radius: 15px;
    border-style: dotted;
    border-color: orange;
    border-width:5px;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 70px;
    color: orange;

}

.title {
    border-bottom-style: dotted;
    border-bottom-width: 5px;
    border-color: orange;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
}
.card{
    margin-left: 9px;
}

.titleFooter {
    font-family: 'Pacifico';
    font-size: 15px;
    width: 100%;
    /* margin: 0, 100%; */
}
footer{
    display: flex;
    justify-content: center;
    font-size: 15px;
    height: 19%;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0px;

}
img {
    width:250px;
    height: auto;

}
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 10px;
  }
  .card {
    width: 25%;
    text-align: center;
    margin: 25px;
  }  
