@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;

}
h1 {
    font-family: 'Pacifico', cursive;
}

p {
    color: orange;
}

.about {
    border: 3px;
    border-style: dotted;
    border-color: orange;
    background-color: black;
    margin: 5%;
}

.sidenav {
    width: '25%';
    padding-top: '20px';
}

.card-title {
    border: 3px;
    border-style: dotted;
    border-color: orange;
    margin-left: 190px;
    margin-right: 190px;
    color: orange;
}

.aboutTitle {
    border: 3px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 70px;

}

.title {
    border: 3px;
    border-style: dotted;
    border-color: orange;
    border-width: 5px;
    padding: 10px;
    margin-left: 35%;
    margin-right: 35%;
}

.titleFooter {
    font-size: 23px;
    margin: 0, 100%;
}

img {
    max-width: 250px;
}